.row {
  display: flex;
  flex-direction: row;
  min-height: 20px;
  height: 24px;

  &__info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 100%;
    border: 1px solid #c0c0c0;
    background: #f8f9fa;
    border-top: none;
  }

  &__data {
    display: flex;
  }

  & :global(.row__resize) {
    left: 0;
    height: 4px;
  }
}